config/cache
config/.X-AIR-Edit/
config/Code - OSS/
config/GIMP/
config/QtProject.conf
config/Signal/
config/Slack/
config/arduino-ide/
config/audacity/
config/dconf/
config/discord/
config/gtk-2.0/
config/htop/
config/keepassxc/
config/libfm/
config/local/
config/mimeapps.list
config/obs-studio/
config/pavucontrol.ini
config/pcmanfm/
config/pulse/
config/rncbc.org/
config/streamdeck-ui/
config/vlc/
config/zsh/.zcompdump
config/ISL Online
config/blender/
config/chromium/
config/gtk-3.0/
config/user-dirs.dirs
config/user-dirs.locale
config/filezilla/
config/inkscape
config/ngrok
config/onedrive-gui/
config/onedrive
config/ticktick
config/torbrowser
config/nnn
config/wireshark
